[user]
	name = Kaixi Hou
	email = kaixihou@vt.edu
[push]
	default = simple
[alias]
    st = status
    ci = commit -v
    d = difftool
    co = checkout
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    

