[user]
	name = Kaixi
	email = <abc@abc.com>
[push]
	default = simple
[alias]
    st = status
    ci = commit -v
    d = difftool
    co = checkout
[diff]
    tool = vimdiff
[difftool]
    prompt = false
    

